*{
  /* border:1px solid grey; */
  
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Hompe Page */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  font-size: 1.25rem;
  padding-left: 10%;
}

.bigLogo{
  width: 40vh;
}
h2{
  background-color: white;
}
.middleHome{
  background-color: white;
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
}
.middleLeftHome{
  padding-right: 10%;
  text-align: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.middleRightHome{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

}
/* Menu Page */

.topMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 25px;
}

.proteins,
.drinks{
  border: 5px dotted rgb(98, 203, 98);
  padding-left: 25px;
  padding-right: 25px;
}

.proteins h2{
  text-align: center;
}

.protein{
  display: flex;
  
}

.drinks h2{
  text-align: center;
}

.drink{
  display: flex;
 
}

.foodOptions h2{
  text-align: center;
}

.foodOptions img{
  width: 40vh;
}
 

.entreeBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  padding-left: 50px;
  padding-right: 50px;
  
}

.entreeBox > div {
  flex: 1 1 calc(50% - 40px); 
  box-sizing: border-box;
  margin: 20px;
}

.entreeBox h3 {
  text-align: center;
}

.entreeContent {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
}

.entreeContent p {
  text-align: center;
  margin: 10px;
}

.entreeContent img {
  width: 40vh;
  margin: 10px;
}

.tacos, .tortas, .burritos, .quesadillas, .quesabirrias {
  border: 5px dotted rgb(98, 203, 98);
}



footer{
  display: flex;
  justify-content: center;
  align-items: center;
}